<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML5/CSS3</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="container">

    <header class="header">
        <div class="header-menu">
            <div class="contact_number">
                <p class="contact_number_border">+7(800)123-45-56</p>

            </div>
            <a class="header-logo-link" href="index.html">
                <p class="header-logo-title"></p>

            </a>
            <form action="#">
                <input class="header-search" type="search">
            </form>
            <button class="header-profile" title="Профиль"></button>
            <button class="header-favorites" title="Избранное"></button>

            <nav class="header-nav">
                <label for="header-check"></label>
                <input id="header-check" type="checkbox" >
                <ul class="header-list">
                <li class="header-list-item"><a href="#" class="header-nav-link">Главная</a></li>
                <li class="header-list-item"><a href="#" class="header-nav-link">о компании</a></li>
                <li class="header-list-item"><a href="#" class="header-nav-link">каталог</a></li>
                <li class="header-list-item"><a href="#" class="header-nav-link">контакты</a></li>
                </ul>
            </nav>

        </div>

    <section class="header-carousel">
            <div class="header-box">
                <h1 class="header-carousel-title-two">Добро пожаловать в магазин</h1>
                <p class="header-carousel-p">Caprice - это интернет-магазин, где представлен полный спектр профессиональной косметики
                    ведущих мировых производителей – от косметических средств до техники 
                    и сопутствующих.</p>
                    <!-- &shy;-->

            </div>

        </section>

    </header>
<!-- workarea -->

    <main class="main">
        <section class="main-elements-box">
            <div class="wrapper-elements-box">
            <div class="main-header-elements-box">Наши преимущества</div>
            <div class="main-element-box">
                <div class="element-icon" style="background-image:url('img/big_asort.png')"></div>
                <h2 class="main-title-box" >Большой ассортимент.</h2>
                <p class="main-p-element-box">Более 1000 товаров</p>
            </div>
            <div class="main-element-box">
                <div class="element-icon" style="background-image:url('img/low_price.png')"></div>
                <h2 class="main-title-box">Цены ниже,</h2>
                <p class="main-p-element-box">чем у конкурентов на 20%</p>
            </div>
            <div class="main-element-box">
                <div class="element-icon" style="background-image:url('img/delivery.png')"></div>
                <h2 class="main-title-box">Бесплатная доставка</h2>
                <p class="main-p-element-box">по Москве от 1000₽</p>
            </div>
</div>
        </section>

        <section class="main-elements-box-2">
            <div class="wrapper-elements-box-2">
                <div class="main-header-elements-box-2">каталог товаров</div>
            <div class="main-element-box-2">
                <div class="element-icon-2" style="background-image:url('img/picture_1.png')"></div>
                <div class="stick"></div>
                <p class="main-p-element-box-2">Оборудование</p>
            </div>
            <div class="main-element-box-2">
                <div class="element-icon-2" style="background-image:url('img/picture_2.png')"></div>
                <div class="stick"></div>
                <p class="main-p-element-box-2">Косметика</p>
            </div>
                <div class="main-element-box-2">
                    <div class="element-icon-2" style="background-image:url('img/picture_3.png')"></div>
                    <div class="stick"></div>
                    <p class="main-p-element-box-2">Парфюмерия</p>
                </div>
            </div>
        </section>

        <section class="main-articles">
            <h2 class="main-articles-title">Популярные товары</h2>       
            <article class="main-article">
                <div class="main-article-calendar"> 
                    <svg fill="none" class="main-article-calendar-number">
                        <path d="M23.3133 3.37839C22.7174 2.78223 22.0099 2.30931 21.2312 1.98665C20.4525 1.664 19.6179 1.49792 18.775 1.49792C17.9321 1.49792 17.0975 1.664 16.3187 1.98665C15.54 2.30931 14.8325 2.78223 14.2367 3.37839L13 4.61505L11.7633 3.37839C10.5597 2.17475 8.9272 1.49855 7.225 1.49855C5.52279 1.49855 3.8903 2.17475 2.68666 3.37839C1.48302 4.58203 0.806824 6.21452 0.806824 7.91672C0.806824 9.61893 1.48302 11.2514 2.68666 12.4551L3.92333 13.6917L13 22.7684L22.0767 13.6917L23.3133 12.4551C23.9095 11.8592 24.3824 11.1517 24.7051 10.373C25.0277 9.59427 25.1938 8.75962 25.1938 7.91672C25.1938 7.07382 25.0277 6.23918 24.7051 5.46047C24.3824 4.68177 23.9095 3.97427 23.3133 3.37839V3.37839Z" stroke="#181818" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                </div> 
                <img class="main-article-img" alt="Project-1" src="img/product_1.png">
                    <div class="wrap-article">
                        <h2 class="main-article-title">LE LABO Ambrette</h2>
                            <p class="product-price">21 455 ₽</p>
                    </div>

                    <div class="wrap-price-p">
                        <h3 class="main-article-p">Парфюмерная вода</h3>
                        <p class="product-volume">100мл</p>
                    </div>

                <div class="box-price">
                    <a class="main-article-a" href="#">Купить в один клик</a>
                    <div class="wrapper-cart"><div class="shopping-cart"></div></div>
                </div>
            </article>

            <article class="main-article">
                <div class="main-article-calendar">
                    <svg fill="none" class="main-article-calendar-number">
                        <path d="M23.3133 3.37839C22.7174 2.78223 22.0099 2.30931 21.2312 1.98665C20.4525 1.664 19.6179 1.49792 18.775 1.49792C17.9321 1.49792 17.0975 1.664 16.3187 1.98665C15.54 2.30931 14.8325 2.78223 14.2367 3.37839L13 4.61505L11.7633 3.37839C10.5597 2.17475 8.9272 1.49855 7.225 1.49855C5.52279 1.49855 3.8903 2.17475 2.68666 3.37839C1.48302 4.58203 0.806824 6.21452 0.806824 7.91672C0.806824 9.61893 1.48302 11.2514 2.68666 12.4551L3.92333 13.6917L13 22.7684L22.0767 13.6917L23.3133 12.4551C23.9095 11.8592 24.3824 11.1517 24.7051 10.373C25.0277 9.59427 25.1938 8.75962 25.1938 7.91672C25.1938 7.07382 25.0277 6.23918 24.7051 5.46047C24.3824 4.68177 23.9095 3.97427 23.3133 3.37839V3.37839Z" stroke="#181818" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div> 
                <img class="main-article-img" alt="Project-2" src="img/product_2.png">
                <div class="wrap-article">
                <h2 class="main-article-title">INSIGHT PROFESSIONAL </h2>
                    <p class="product-price">1 324 ₽</p>
            </div>
            <div class="wrap-price-p">
                <h3 class="main-article-p">Кондиционер для волос</h3>
                    <p class="product-volume">400мл</p>
            </div>
                <div class="box-price">
                    <a class="main-article-a" href="#">Купить в один клик</a>
                    <div class="wrapper-cart"><div class="shopping-cart"></div></div>
                </div>
            </article>

            <article class="main-article">
                <div class="main-article-calendar">
                    <svg fill="none" class="main-article-calendar-number">
                        <path d="M23.3133 3.37839C22.7174 2.78223 22.0099 2.30931 21.2312 1.98665C20.4525 1.664 19.6179 1.49792 18.775 1.49792C17.9321 1.49792 17.0975 1.664 16.3187 1.98665C15.54 2.30931 14.8325 2.78223 14.2367 3.37839L13 4.61505L11.7633 3.37839C10.5597 2.17475 8.9272 1.49855 7.225 1.49855C5.52279 1.49855 3.8903 2.17475 2.68666 3.37839C1.48302 4.58203 0.806824 6.21452 0.806824 7.91672C0.806824 9.61893 1.48302 11.2514 2.68666 12.4551L3.92333 13.6917L13 22.7684L22.0767 13.6917L23.3133 12.4551C23.9095 11.8592 24.3824 11.1517 24.7051 10.373C25.0277 9.59427 25.1938 8.75962 25.1938 7.91672C25.1938 7.07382 25.0277 6.23918 24.7051 5.46047C24.3824 4.68177 23.9095 3.97427 23.3133 3.37839V3.37839Z" stroke="#181818" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div> 
                <img class="main-article-img" alt="Project-3" src="img/product_3.png">
                <div class="wrap-article">
                    <h2 class="main-article-title">ALFAPARF MILANO sdl</h2>
                        <p class="product-price">1 819 ₽</p>
                </div>
            <div class="wrap-price-p">
                <h3 class="main-article-p">Маска для сухих волос </h3>
                    <p class="product-volume">200мл</p>
               
            </div>
                <div class="box-price">
                    <a class="main-article-a" href="#">Купить в один клик</a>
                    <div class="wrapper-cart"><div class="shopping-cart"></div></div>
                </div>
            </article>
        </section>
    </main>

    <!-- workarea-->
    <footer class="footer">
        <section class="footer-menu">
            <article class="footer-menu-article">
                <a class="footer-logo-link" href="index.html">
                    <div class="header-logo-title"></div>
                </a>
            </article>

        <div class="footer-menu-article-2-column">
            <h2 class="footer-menu-article-2-column-title">интернет-магазин</h2>  
            <a class="footer-menu-article-2-column-a" href="#">  
                <p class="footer-menu-article-2-column-p">Главная</p>
            </a>
            <a class="footer-menu-article-2-column-a" href="#">  
                <p class="footer-menu-article-2-column-p">О компании</p>
            </a>
            <a class="footer-menu-article-2-column-a" href="#"> 
                <p class="footer-menu-article-2-column-p">Каталог</p>
            </a>
            <a class="footer-menu-article-2-column-a" href="#"> 
                <p class="footer-menu-article-2-column-p">Контакты</p>
            </a>
        </div>

      <div class="footer-menu-article-3-column">
        <h2 class="footer-menu-article-3-column-title">контакты</h2>  
          <a class="footer-menu-article-3-column-a" href="#">  
                <p class="footer-menu-article-3-column-p">+7(800)123-45-56</p>
          </a>
          <a class="footer-menu-article-3-column-a" href="#">  
                <p class="footer-menu-article-3-column-p">г. Москва, Варшавское шоссе, д.125</p>
            </a>
      </div>
            <div class="footer-menu-article-4-column">
                <h2 class="footer-menu-article-4-column-title">Прием заказов в интернет-магазине 24 часа!</h2>  
            </div>
        </section>

        <section class="footer-copyright">
            <div class="footer-copyright-p-left">
                <p class="footer-copyright-p-left-copy">&#169; 
                    2022 Тестовая работа. Все права защищены
                </p>
            </div>
        </section>
    
    </footer>

</body>
</html>